[submodule "Libs/Api"]
	path = Libs/Api
	url = https://github.com/outlawdesigns-io/Api
[submodule "Libs/LOEServer"]
	path = Libs/LOEServer
	url = https://github.com/outlawdesigns-io/LOEServer
[submodule "Libs/JwksTokenValidator-PHP"]
	path = Libs/JwksTokenValidator-PHP
	url = https://github.com/outlawdesigns-io/JwksTokenValidator-PHP
